/* Reset do Estilo */
/*  */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Regra geral do body */

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img{
    max-width: 100%;
    display: block;
}

/* Barra de navegação */

nav{
    background-color: white;
    height: 70px;
    width: 100%;
}

label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 50px 100px;
    font-weight: bold;
}

ul{
    float: right;
    margin-right: 25px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav-link{
    color: black;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 25px;
}

.nav-link:hover{
    background: black;
    color: white;
    transition: .5s;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    ul{
        position: fixed;
        width: 100%;
        height: 100hv;
        background: white;
        top: 80px;
        left: 0;
        text-align: center;
    }
    nav ul li{
        display: block;
    }
    .nav-link{
        font-size: 20px;
    }
    a:hover{
        background: none;
        color: black;
    }
}

/* Sobre mim page */

.bemvindo{
    text-align: center;
    margin-bottom: 50%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 300px;
    
}

#bemvindo{
    margin-top: 200px;
}

#conteudosobre{
    max-width: 800px;
    margin: 0 auto;
    text-transform: uppercase;
}

/* Projetos */

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 20%;
}
.flex > div{
    flex: 1 1 200px;
    margin: 10px;
    text-align: center;
}

/* Contato */

.flex2{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 350px;
}
.flex2 > div{
    flex: 1 1 200px;
    margin: 20px;
    text-align: center;
}

/* Botão to top*/

#scrollToTopBtn {
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none; /* Oculta o botão por padrão */
    background-color: white;
    color: black;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1000;
}

#scrollToTopBtn:hover {
    background-color: gray;
}